<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Task Manager">

    <title>Todo Tada</title>

    <link rel="shortcut icon" href="/static/img/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Lato:700" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/stylesheet.css">
</head>

<body>
    {% block content %}
        <p>BODY GOES HERE.</p>
    {% endblock %}

    <a href="/tasks">Tasks</a><br>
    <a href="/goals">Goals</a><br>
    <a href="/calendar">Calendar</a>
</body>

    <!-- jQuery -->
    <script type="text/javascript" src="https://ajax.microsoft.com/ajax/jQuery/jquery-1.4.2.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Bootstrap Core -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

</html>