<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Task Manager">

    <title>Todo Tada</title>

    <script type="text/javascript" src="https://ajax.microsoft.com/ajax/jQuery/jquery-1.4.2.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans+Condensed:400,900|Lato:400,900|Open+Sans" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <script src={{ url_for('static', filename="js/app.js") }}></script> 

    <link rel="shortcut icon" href="/static/img/favicon.ico">
    <link rel="stylesheet" href="/static/css/stylesheet.css">


    <!-- navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">

        <!-- Hamburger Menu -->
        <ul class="nav navbar-nav navbar-left">
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-menu-hamburger"></span>
            </a>
            
            </li>
            </a></li>
        </ul>

        <!-- Search Feature -->
        <ul class="nav navbar-nav navbar-brand">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/landing">Home</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/tasks">Tasks</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/goals">Goals</a>
        </ul>

        <!-- Sign Up / Login -->
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span>Sign Up</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span>Login</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span>Logout</a></li>
        </ul>
    </div>
</nav>
</head>

<body>
        {% block content %}
            <p>BODY GOES HERE.</p>
        {% endblock %}
</body>

    <!-- Bootstrap Core -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</html>