<html>
<head>
    <title>Task Manager</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="static/stylesheet.css">
{% block extra_js %}{% endblock %}

</head>
<body id="body">
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <p class="navbar-text navbar-fixed-top">
            Task Manager</p>
    </div>

</nav>


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script> 
{% block content %} Put your body here. 

{% endblock %}


</body>
</html>