{% extends "base.html" %}

{% block content %}

<h1>Your Goals</h1>

<!-- Capture new goal -->
<div class="container">
    <form role="form" method="post" onsubmit="return false">
        <div class="form-group">
            <input type="text" class="form-control" name="goal_name" placeholder="Define your Goal" required>
            <input type="date" class="form-control" name="goal_date" placeholder="Accomplish By Date" required>
        </div>
        <button type="submit" class="btn btn-default">Submit to Commit</button>
    </form>
</div>

<!-- Display recently inputted goal -->
{{ goal }} {{ accomplish_by }}


<div class="container-fluid">
    <div class="row">
<!-- This div is the main div where the user will see their current goals -->
        <div id="main_goal_div" class="col-sm-9 col-lg-10">
            <!-- Content  -->
            <!-- Jinja loop feed from the db the current goals -->
            <p>% for goal in active_goals %}</p> 
                show the description
    

                <p>check_by_user_id() </p>

            <p>% endfor %</p>
        </div>
    </div>
</div>
</body>
{% endblock %}

<script>
function move() {
    var elem = document.getElementById("myBar");
    var width = 20;
    var id = setInterval(frame, 10);
    function frame() {
        if (width >= 100) {
          clearInterval(id);
        } else {
          width++;
          elem.style.width = width + '%';
          document.getElementById("demo").innerHTML = width * 1  + '%';
        }
      }
}
</script>