{% extends 'base.html' %}
{% block extra_js %}
<!-- Here is where the link to the JS would go once that is coded -->
<!-- <script type="text/javascript" src="static/"></script> -->
{% endblock %}
{% block content %}
<!-- This div will be the fixed left bar for the user to click to act on the goals that are in the "main goal page div" below -->
<div id="left_bar">
    <button id="add_goal">Add Goal</button><br>
    <button id="complete_goal">Mark Goal Complete</button><br>
    <button id="delete_goal">Delete Goal</button><br>
</div>
<!-- This div is the main div where the user will see their current goals -->
<div id="main_goal_div">
</div>
{% endblock %}