
    <div id="c">
        <div class="container">
            <p>Created by <a href="http://www.ourlinks">Our Names</a></p>
        
        </div>
    </div>

<!-- Bootstrap core JavaScript
Placed at the end of the document so the pages load faster -->
    <script src="assets/js/bootstrap.js"></script>
    <script>
    $('.carousel').carousel({
      interval: 3500
    })
    </script>
  </body>
</html>
<head>
{% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Task Manager">
    <title>Task Manager</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="/static/img/favicon.ico">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:700" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/css/stylesheet.css">
{% endblock head %}
</head>
<div class="container">
    <div class="row" id="" style="margin-top:20px">
        <fieldset>
            <h1>Landing Paaaaaage</h1>

            <p>This is the page users see once they login/register.</p>
                Welcome back, {{ username }}!<br>
        </fieldset>
    </div>
</div>

<a href="/tasks">Tasks</a><br>

<a href="/goals">Goals</a><br>
<a href="/calendar">Calendar</a>

