
    <div id="c">
        <div class="container">
            <p>Created by <a href="http://www.ourlinks">Our Names</a></p>
        
        </div>
    </div>

<!-- Bootstrap core JavaScript
Placed at the end of the document so the pages load faster -->
    <script src="assets/js/bootstrap.js"></script>
    <script>
    $('.carousel').carousel({
      interval: 3500
    })
    </script>
  </body>
</html>

<h1>Langing Paaaaaage</h1>

<p>This is the page users see once they login/register.</p>
    Welcome back, {{ username }}!<br>

<a href="/tasks">Tasks</a><br>

<a href="/goals">Goals</a><br>
<a href="/calendar">Calendar</a>

<a href="/goals">Goals</a>
