{% extends "base.html" %}

{% block content %}

<!-- Capture new task -->
<form role="form" method="post">
    <div class="form-group">
        <input type="text" class="form-control" name="task_name" placeholder="Define your Task" required>
        <select name="priority">
            <option value="high">High</option>
            <option value="medium">Medium</option>
            <option value="low">Low</option>
        </select>
        <select name="frequency">
            <option value="never">Once</option>
            <option value="daily">Daily</option>
            <option value="weekly">Weekly</option>
            <option value="monthly">Monthly</option>
        </select>
        <input type="date" class="form-control" name="date" placeholder="Accomplish By Date">
    </div>
    <button type="submit" class="btn btn-default">Submit to Commit</button>
</form>

<!-- Render newly captured task -->
{{ task_name }} {{ freq }} {{ date }} {{ priority }}

                <!-- insert table -->

                            <script type="text/javascript">
                //make an ajax call that shows the task is added - this is currently an alert box

                //when the button w the id add task is clicked, an alert box tells the user
                // $("#add_task").on("click",  function(){
            //         alert("Task is added")
            //     }
            // );

            //want the user to go to a modal window where they can add a task
            var modal = document.getElementById("addTaskModal");

            //get the button that opens the modal 
            var btn = document.getElementById("add_task");

            //get the span element that closes the modal 
            var span = document.getElementsByClassName("close")[0];

            //when the user clicks on the button, open the modal
            btn.onclick = function() {
                modal.style.display = "block";
            }

            //when the user clicks on the span x close the modal
            span.onclick = function() {
                modal.style.display = "none";
            }

            //when the user clicks anywhere outside of the modal, close it
            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
                </script>
                <button id="complete_task" type="submit">Mark Task(s) Complete</button><br>
                <script type="text/javascript">

                //When the button is clicked the user is alerted that their task is marked complete
                $("#complete_task").on("click", function() {
                    alert("Marked Task Complete")
                }
            );
                </script>
                <button id="delete_task" type="submit">Delete Task(s)</button><br>
                <script type="text/javascript">

                //when the button is clicked the user is alerted that the task is deleted
                $("#delete_task").on("click", function() {
                    alert("The task is deleted")
                }
            );
                </script>
        </div>
    </div>
</div>
{% endblock %}